@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #739fcb;
  transition: all 0.5s;
}
.container {
  width: 100%;
  height: 100%;
}
header {
  width: 90%;
  height: 50px;
  background-color: #ffffff6b;
  margin: 1rem auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

header:hover {
  box-shadow: 2px 0px 10px 0px #ffffff46;
}

header h1 {
  color: #ffffff;
  font-size: 1.2rem;
  position: absolute;
  left: 15px;
  z-index: 6;
}

.links {
  position: absolute;
  right: 50px;
}
.links a {
  text-decoration: none;
  color: #0000007e;
  font-weight: bold;
  margin-left: 2rem;
}

.links > :hover {
  color: #ffffff;
}

.menu {
  position: absolute;
  right: 30px;
  font-size: 1.3rem;
  color: #fff;
  display: none;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff6b;
  backdrop-filter: blur(20px);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  z-index: 5;
  display: none;
}

.modal a {
  text-decoration: none;
  color: #0000007e;
  font-weight: bold;
  margin-left: 2rem;
}

.modal a:hover {
  color: #ffffff;
}
#close-modal {
  position: absolute;
  right: 30px;
  top: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  color: red;
}

.content {
  width: 400px;
  height: 250px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 30px;
  top: 100px;
  border: 1px solid #ffffff4f;
  background-color: #ffffff10;
  border-radius: 24px;
  z-index: 3;
}

.content:hover {
  box-shadow: 2px 0px 10px 0px #ffffff46;
}

.blur {
  animation: blur 0.5s ease-in-out;
}

.content h3 {
  color: #ffffff;
  font-size: 1.5rem;
}

.content button {
  width: 150px;
  height: 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  border: 1px solid #ffffff4f;
  background-color: #ffffff73;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.content button:hover {
  background-color: #ffffffc7;
  transform: scale(1.05);
}
.content h1 {
  color: #ffffff;
  margin-bottom: 1rem;
}
.content .sizes ul {
  display: flex;
  list-style: none;
  gap: 10px;
  margin: 1rem;
}
.content .sizes ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff4f;
  background-color: #ffffff3f;
  cursor: pointer;
  transition: background-color 1s, transform 0.2s;
  border-radius: 50%;
}
.content .sizes ul li:hover {
  background-color: #fff;
  transform: translateY(-5px);
}

.sizes ul li.select {
  background-color: #fff;
}

.hide {
  display: none;
}

#logo {
  width: 650px;
  filter: drop-shadow(2px 2px 2px #fff);
}

#main-shoes {
  width: 550px;
}

.main-content img {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.show {
  animation: showShoes 0.5s linear;
}
.show-back {
  animation: showShoesBack 0.5s linear;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  gap: 20px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 150px;
  border: 1px solid #ffffff4f;
  background-color: #ffffff10;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 1s, transform 0.2s;
}

.item:hover {
  background-color: #ffffff60;
}

.item:active {
  transform: translateY(-10px);
}

.active {
  transform: translateY(-10px);
  background-color: #ffffff38;
  box-shadow: 0px 0px 10px 0px #ffffffaf;
}

.items img {
  width: 100px;
  transform: rotate(-10deg);
}

.buttons {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  border: 1px solid #ffffff4f;
  background-color: #ffffff10;
  color: #fff;
  transition: background-color 0.5s, transform 0.2s;
}

.buttons button:hover {
  background-color: #ffffffa2;
  transform: scale(1.05);
}

.buttons button:active {
  transform: scale(1);
}

@keyframes showShoes {
  from {
    transform: translateX(-100vw);
  }
}
@keyframes showShoesBack {
  from {
    transform: translateX(100vw);
  }
}

@keyframes blur {
  from {
    filter: blur(15px);
  }
}

@media (max-width: 1000px) {
  #logo {
    width: 400px;
  }
  #main-shoes {
    width: 350px;
  }
  .buttons {
    left: 50%;
    transform: translateX(-50%);
    bottom: 200px;
  }
  .items {
    width: 300px;
  }
  .content {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 600px) {
  #logo {
    width: 350px;
  }
  #main-shoes {
    width: 300px;
  }
  .buttons {
    left: 50%;
    transform: translateX(-50%);
    bottom: 200px;
  }
}

@media (max-width: 500px) {
  header {
    height: 30px;
  }
  header h1 {
    font-size: 1.5rem;
  }
  #logo {
    width: 350px;
  }
  #main-shoes {
    width: 300px;
  }

  .item:nth-child(5) {
    display: none;
  }
  .item:nth-child(4) {
    display: none;
  }
  .content {
    top: 60px;
    width: 350px;
    height: 170px;
  }
  #name {
    font-size: 1.2rem;
  }
  .value h3 {
    font-size: 1rem;
  }
  .links {
    display: none;
  }
  .menu {
    display: flex;
  }
}
@media (max-width: 375px) {
  #logo {
    width: 350px;
  }
  #main-shoes {
    width: 300px;
  }

  .item:nth-child(3) {
    display: none;
  }
  .items {
    width: 200px;
  }
  .content {
    width: 320px;
    height: 200px;
  }
}
